/* MessagesComponent's private CSS styles */

.container {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    background-color: #fff;
    height: 100px;
}

.message {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}