<div class="search">
  <div class="block-search">
    <div class="cell-logo">
      <a routerLink="/">
        <img src="../../assets/images/logo.png" alt="Smiley face">
      </a>
    </div>
    <div class="cell-input">
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="text" [(ngModel)]="search.query" name="query" placeholder="Nunca dejes de buscar">
          <div class="input-group-append">
            <button type="submit">
              <span class="icon-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>