.search {
    background-color: #FFE600;
    width: 100%;
}

.block-search {
    display: table;
    padding: 10px 0;
    margin-left: 12%;
    margin-right: 12%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.cell-logo {
    @extend .table-cell;
    width: 1%;
    text-align: right;
    padding-left: 0;
}

.cell-input {
    @extend .table-cell;
    padding-right: 0;
    width: 100%;
}


.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.input-group-append {
    margin-left: -1px;
    display: flex;
}

.icon-search {
    display: block;
    background-image: url("../../assets/images/ic_Search.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}

input {
    flex: 1 1 auto;
    width: 1%;
    display: block;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.8;
    color: #333333;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group input::placeholder {
    color: #999999
}

button {
    display: inline-block;
    border: 0;
    padding: .375rem .75rem;
    line-height: 1.8;
    border-radius: .25rem;
    background-color: #EEEEEE;
    background-image: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}