<div *ngIf="!loading" class="div-list-products">
  <ul class="breadcrumb">
    <li *ngFor="let category of data.categories">{{category}}</li>
  </ul>
  <div class="content-item" *ngFor="let item of data.items; let i=index">
    <div *ngIf="i<4" class="table">
      <div class="cell-picture">
        <a routerLink="/items/{{item.id}}">
          <img class="img-product" [src]="item.picture">
        </a>
      </div>
      <div class="cell-detail">
        <span class="price"> {{item.price.currency}} {{item.price.amount}}</span>
        <span *ngIf="item.free_shipping" class="ico-shipping"></span>
        <p>{{item.title}}</p>
      </div>
      <div class="cell-city">
        {{item.city}}
      </div>
    </div>
  </div>
</div>