ul.breadcrumb {
    list-style: none;
    background-color: #eee;
    padding: 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #999999;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #999999;
    content: "\003e";
}

.div-list-products {
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
    .content-item {
        background-color: #fff;
    }
}

.content-item::after {
    content: "";
    position: absolute;
    left: 200px;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid #eee;
}

.table {
    display: table;
    width: 100%;
    min-height: 212px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.cell-detail {
    display: table-cell;
    padding-top: 32px;
    width: 55%;
    text-align: left;
    .price {
        font-size: 24px
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px
    }
    p {
        margin: 0;
        padding-top: 32px;
        font-size: 18px;
    }
}

.img-product {
    height: 180px;
    width: 180px;
    border-radius: 4px;
    margin: 16px;
}

.cell-picture {
    @extend .table-cell;
    width: 180px;
}

.ico-shipping {
    display: block;
    background-image: url("../../assets/images/ic_shipping.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}

.cell-city {
    display: table-cell;
    text-align: center;
    font-size: 12px;
    color: #999999;
    padding-top: 32px;
}