<div *ngIf="!loading" class="div-list-products">

  <div class="table">
    <div class="table-cell">
      <img class="img-product" [src]="data.picture">
    </div>
    <div class="display-table-cell">
      <span class="title-condition">{{data.condition}} {{data.sold_quantity}} vendidos</span>

      <span class="title-item">{{data.title}}</span>

      <div class="text-amount">
        <span> {{data.price.currency}} {{data.price.amount}}</span>
      </div>

      <div>
        <button class="button-buy">Comprar</button>
      </div>

    </div>
  </div>

  <p>{{data.description}}</p>

</div>